  <div class='caruselwrapper'>
   <div class="blockwrapper">

    <div class='block' id='block1'>
      <h4 class="carusel_block_title">Блок 1</h4>
      <p class="carusel_block_par">Это наш любимый блок, он самый стильный, подтянутый и аккуратный</p>
      <a href="">Подробнее ></a>
    </div>

    <div class='block ' id='block2'>
      <h4 class="carusel_block_title">Блок 2</h4>
      <p class="carusel_block_par">Этот блок нам нравится меньше, возможно он много болел в детстве</p>
      <a href="">Подробнее ></a>
    </div>

    <div class='block' id='block3'>
      <h4 class="carusel_block_title">Блок 3</h4>
      <p class="carusel_block_par">А этот слишком много ест... И ест чужую еду, как наш арт-директор, хотя это ложь</p>
      <a href="">Подробнее ></a>
    </div>

    <div class='block ' id='block4'>
      <h4 class="carusel_block_title">Блок 4</h4>
      <p class="carusel_block_par">Этот блок мы спрятали, потому что он нам не нравится вообще, но он нам нужен</p>
      <a href="">Подробнее ></a>
    </div>

   </div>

    <div class="switchbutton">
      <button
       class="carusel_button"
       id="prevblockBtn"

        onClick="prevblock()">
        <svg width="18" height="12" viewBox="0 0 18 12" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M17 6H1M1 6L6 1M1 6L6 11" stroke="#CCCCCC" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      </button>
      <button
        onClick='nextblock()'
        class="carusel_button"
        id="nextblockBtn"
  >
        <svg width="18" height="12" viewBox="0 0 18 12" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M17 6H1M1 6L6 1M1 6L6 11" stroke="#CCCCCC" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      </button>

    </div>

  </div>
