<div class="aboutus_form_wrapper">
  <div class='aboutus_form_wrapper_about_us'>
    <h3 class="mainblock_h3">Форма нам тоже пригодится</h3>
    <div class="otherArticle" id='otherArticle' >
      <p>
        Первый абзац бесполезного текста, хотя может и полезного, может в нем есть подсказки... А может и нет. Этого не знает никто. Даже тот, кто его писал.
      </p>
      <p>
        Не забывай креативить, предлагать решения, исправлять наши ошибки, ошибки природы, вселенной, ошибки ЖКХ.
      </p>
    </div>
  </div>
  <div>
    <form class='aboutus_form_wrapper_about_us' id='form'>
      <div class="form-group">
        <input
        class="form-control"
        id="fistname"
        placeholder="Фамилия">
      </div>
      <div class="form-group">
        <input
        class="form-control"
        id="lastName"
        placeholder="Имя">
      </div>
      <div class="form-group">
        <input
        type="email"
        class="form-control"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
        placeholder="Эл. почта">
      </div>
      <div class="form-group">
        <input
        type="phone"
        class="form-control"
        id="phone"
        placeholder="Телефон" />
        <span id="phonenotation" class="form-text ">
          Мы будем использовать ваш номер телефона для навязчивого спама
        </span>
      </div>
      <div class="form-group">
        <input
        type="date"
        class="form-control"
        id="birthday"
        placeholder="Дата Рождения">
      </div>
      <div class="form-group">
        <button class="form_button sex" type='button' id='bordernone'>Мужчина</button><!--
        --><button type='button' class="form_button sex">Не мужчина</button>
      </div>

      <div class="form-group form-check">
        <input
        type="checkbox"
        class="form-check-input"
        id="exampleCheck1" />
        <label
        class="form-check-label"
        for="exampleCheck1">
        Соглашаюсь
        <a href="https://policies.google.com/privacy?hl=ru">
          на все
        </a>
      </label>
    </div>

    <div class="form-group">
      <button type='button'
       class="form_button"
       id='pressMe'>
        Нажми на меня
      </button>
      <button type='button' class="form_button">На меня тоже можно</button>
    </div>
  </form>

</div>
</div>
