<div class="wrapper">
  <div class="mainblock">
    <h2 class="block1_header2">Сверстай меня полностью </h2>
    <div class='block1_article'>
      <p class="block1_p">Здесь необходимо, чтобы наш друг немного сдвигался вправо, если курсор находится в правой половине экрана либо, соответственно, влево</p>
    </div>

    //= manpic.html

    <h3 class='mainblock_h3'>А это еще один заголовок </h3>
    <div class="otherArticle">
      <p>
        Нам нужен полностью адаптивный сайт, чтобы он был красив для любого разрешения и любого устройства.<br/> А если ты умеешь делать так, чтобы и кегль подстраивался — наш дизайнер пустит слезу, а может даже две. А потом выпьет дома чая за твое здоровье.
      </p>
      <p>
        Если при скроллинге изображения будут идти плавно <br /> и асинхронно — наш дизайнер опять пустит слезу от счастья.<br /> А еще мы не любим висячие предлоги и союзы. Зато любим ховеры.
      </p>
    </div>



  </div>
    //= carusel.html
  <div class="mainblock">
    //= form.html




  </div>

</div>
